extends layout
block content
 h1= title
 - let guitar_id = toShow._id
 - let guitar_type = toShow.guitar_type
 - let guitar_size = toShow.size
 - let guitar_price = toShow.price
 div
  div.row
   div(class='costumeAttr mr-3') Guitar ID is:
   div #{guitar_id}
  div.row
   div(class='costumeAttr mr-3') Guitar Type is:
   div #{guitar_type}
  div.row
   div(class='costumeAttr mr-3') Guitar Size is:
   div #{guitar_size}
  div.row
   div(class='costumeAttr mr-3') Guitar Price is:
   div #{guitar_price}